/node_modules/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sonarlint/issuestore/f/a/fa288d1472d29beccb489a676f68739ad365fc47
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/f/a/fa288d1472d29beccb489a676f68739ad365fc47
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.gitignore
/.idea/fullstack-javascript-project-44.iml
/.idea/modules.xml
/.idea/vcs.xml
